In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

In [2]:
pos = pd.read_csv("C:/final/home-credit-default-risk/POS_CASH_balance.csv")

In [5]:
pos.head(10)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0
5,2207092,342166,-32,12.0,12.0,Active,0,0
6,1110516,204376,-38,48.0,43.0,Active,0,0
7,1387235,153211,-35,36.0,36.0,Active,0,0
8,1220500,112740,-31,12.0,12.0,Active,0,0
9,2371489,274851,-32,24.0,16.0,Active,0,0

In [4]:
pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001358 entries, 0 to 10001357
Data columns (total 8 columns):
SK_ID_PREV               int64
SK_ID_CURR               int64
MONTHS_BALANCE           int64
CNT_INSTALMENT           float64
CNT_INSTALMENT_FUTURE    float64
NAME_CONTRACT_STATUS     object
SK_DPD                   int64
SK_DPD_DEF               int64
dtypes: float64(2), int64(5), object(1)
memory usage: 610.4+ MB

In [6]:
pos.isna().sum()

SK_ID_PREV                   0
SK_ID_CURR                   0
MONTHS_BALANCE               0
CNT_INSTALMENT           26071
CNT_INSTALMENT_FUTURE    26087
NAME_CONTRACT_STATUS         0
SK_DPD                       0
SK_DPD_DEF                   0
dtype: int64

In [7]:
pos.isna().sum()/pos.shape[0]

SK_ID_PREV               0.000000
SK_ID_CURR               0.000000
MONTHS_BALANCE           0.000000
CNT_INSTALMENT           0.002607
CNT_INSTALMENT_FUTURE    0.002608
NAME_CONTRACT_STATUS     0.000000
SK_DPD                   0.000000
SK_DPD_DEF               0.000000
dtype: float64

In [8]:
pos.apply(lambda x:x.unique().shape[0])

SK_ID_PREV               936325
SK_ID_CURR               337252
MONTHS_BALANCE               96
CNT_INSTALMENT               74
CNT_INSTALMENT_FUTURE        80
NAME_CONTRACT_STATUS          9
SK_DPD                     3400
SK_DPD_DEF                 2307
dtype: int64

In [10]:
pos['SK_ID_PREV'].value_counts()

1624618    96
2746611    96
1889497    96
1235285    96
2263451    96
           ..
1589653     1
2706869     1
1963620     1
2050933     1
1101075     1
Name: SK_ID_PREV, Length: 936325, dtype: int64

In [11]:
pos.loc[pos['SK_ID_PREV']==1624618]

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
6375005,1624618,362520,-80,4.0,0.0,Active,1493,0
6378612,1624618,362520,-38,4.0,0.0,Active,2770,0
7840228,1624618,362520,-42,4.0,0.0,Active,2649,0
7840249,1624618,362520,-44,4.0,0.0,Active,2588,0
7840486,1624618,362520,-34,4.0,0.0,Active,2892,0
...,...,...,...,...,...,...,...,...
9960636,1624618,362520,-13,4.0,0.0,Active,3531,0
9960673,1624618,362520,-12,4.0,0.0,Active,3561,0
9961680,1624618,362520,-11,4.0,0.0,Active,3592,0
9979711,1624618,362520,-8,4.0,0.0,Active,3684,0
9979717,1624618,362520,-5,4.0,0.0,Active,3775,0

In [13]:
pos.groupby(['SK_ID_PREV','MONTHS_BALANCE'])['MONTHS_BALANCE'].count()

SK_ID_PREV  MONTHS_BALANCE
1000001     -10               1
            -9                1
            -8                1
1000002     -54               1
            -53               1
                             ..
2843499     -34               1
            -33               1
            -32               1
            -31               1
            -30               1
Name: MONTHS_BALANCE, Length: 10001358, dtype: int64